.mainnav {
  position: fixed;
  width: 100%;
  top: 0px;
  background-color: tomato;
  box-sizing: border-box;
}

.error {
  display: block;
  text-align: left;
  width: 80%;
  color: red;
}

.result th,
td {
  border: 1px solid black;
}

.regestration {
  > div {
    > div,
    input {
      border-color: blue;
      > select,
      checkbox,
      input {
        border-color: blue;
      }
    }
  }
}

.admitcard {
  border: none;
  > tbody {
    > tr {
      border: none;

      > th {
        border: none;
      }
      > td {
        border: none;
      }
    }
  }
}
#heart {
  font-size: 20px;
}

.finalTable tr,td{
padding: 0 4px;
text-align: center;
}
@media print {
  .mainnav {
    /* visibility: hidden; */
    display: none;
  }
  .printResult {
    visibility: hidden;
  }
  .admitCard {
    margin-top: -55px;
  }

  .admitcard-fetchDetails {
    visibility: hidden;
  }
  .dashboard-sidebar {
    visibility: hidden;
  }
  .admissionPdf{
    margin-top: -80px;
  }
  .noPrint{
    visibility: hidden;
  }
  .fee{
    margin-top: -56px;
  }
}
